[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
insights-connexion = {editable = true, ref = "aiohttp-validation", git = "git://github.com/RedHatInsights/insights_connexion.git"}
connexion = {editable = true, ref = "body_middleware_fix", git = "git://github.com/fijshion/connexion.git"}

[dev-packages]
flake8 = "*"
flake8-junit-report = "*"
unittest-xml-reporting = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python app.py"
test = "python test.py"
migrate = "alembic upgrade head"
