[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
factory-boy = "*"

[dev-packages]
flake8 = "*"
flake8-junit-report = "*"
unittest-xml-reporting = "*"
alembic = "*"
insights-connexion = {editable = true, git = "git://github.com/RedHatInsights/insights_connexion.git"}

[requires]
python_version = "3.6"

[scripts]
server = "python app.py"
test = "python test.py"
