[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
drf-yasg = {version = "*", extras = ["validation"]}

[dev-packages]
flake8 = "*"
flake8-junit-report = "*"
unittest-xml-reporting = "*"

[requires]
python_version = "3.6"
